[Desktop Entry]
Name=FormArc
Comment=Aurorae theme based on FormaN by raimis


X-KDE-PluginInfo-Author=Sira Argia
X-KDE-PluginInfo-Email=Si.ecenk@gmail@gmail.com
X-KDE-PluginInfo-Name=FormArc
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
