[Desktop Entry]
Type=Application
Name=conky
Exec=sh -c 'conky -c ~/.config/conky/spoclo/spotify-top/spoclo_rightedge.conky --daemonize --pause=10 & latte-dock'
StartupNotify=false
Terminal=false
