[Desktop Entry]
Type=Application
Name=conky
Exec=sh -c 'conky -c ~/.config/conky/Elegance-Beam/conky/elegance-beam-afternoon.conkyrc --daemonize --pause=10 & latte-dock'
StartupNotify=false
Terminal=false
